_*/
!_/
*.suo
*.user
Bin/
obj/
#
extjs/
ClientBin/
*sdf
out/
*/.idea/workspace.xml
ipch/
*.lock
*.exe
gis/
target/
DB_CODE/
build/
.gradle/
*.log
*.local.properties
workspace.xml
*.local.*
_bakup/
commons/*
basePlatform*/
!component/Integration/basePlatform/
.dep.iml
output/
com.gpdi*/
*.lck
*.tmp/
~$*
classes/
